.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .notify {
  width: 500px;
  height: 100vh;
  padding: 10px;
  background-color: antiquewhite;
}

#scrollableDiv {
  height: 85vh; 
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #24d9d9  #eee;
  scroll-behavior: smooth;
}

.notify h2 {
  background-color: aqua;
  padding: 20px;
  margin-top: 0px;
}

.notify .inner-box ul{
  list-style: none;
  text-align: center;
}

.notify .inner-box ul li{
  margin: 5px;
}

.content-discription {
  background-color: aliceblue;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}